<launch>
        
    <node pkg="SpiderTeleop_pkg" type="teleop_pr2_keyboard" name="spawn_teleop_keyboard" output="screen">
      <remap from="cmd_vel" to="RobotTwist" />

      <param name="walk_vel" value="1.0" />
      <param name="run_vel" value="2.5" />
      <param name="yaw_rate" value="2.5" />
      <param name="yaw_run_rate" value="3.0" />
    </node>
</launch>

