<launch>
        
    <node pkg="pr2_teleop" type="teleop_pr2_keyboard" name="spawn_teleop_keyboard" output="screen">
      <remap from="cmd_vel" to="RobotTwist" />

      <param name="walk_vel" value="1" />
      <param name="run_vel" value="2" />
      <param name="yaw_rate" value="2" />
      <param name="yaw_run_rate" value="3" />
    </node>
</launch>

